.goBackBtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(127, 199, 236);
  color: rgb(25, 25, 25);
  margin-left: 35px;
}

.goBackBtn:hover {
  background-color: rgb(63, 160, 209);
}
